#personajes article {
  width: 100%;
  margin-bottom: 60px;
}

#personajes article h3 {
  margin-top: 20px;
  text-align: center;
}

#personajes article:after {
  content: "";
  display: table;
  clear: both;
}

#personajes figure {
  float: left;
  width: 40%;
  margin: 0;
  padding: 0;
}

#personajes .nombre {
  margin-top: 10px;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
}

#personajes .descripcion {
  text-align: justify;
  margin-left: 10px;

}

#personajes .curio-text {
  margin-top: 15px;
  margin-bottom: 15px;
}

#personajes .curiosidades-list {
  font-size: 18px;
  list-style: none;
  text-align: left;
}

#personajes img {
  margin: 0;
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  transition: 600ms;
  box-shadow: 10px 5 10px 10px #000000;
}

#personajes img:hover {
  opacity: 0.3;
}

.curiosidades {
  margin-top: 20px;
  list-style: disc;
  padding: 0;
  text-align: left;
}

.curiosidades li {
  margin-bottom: 10px;
  line-height: 1.5;
  margin-left: 32px;
}

section>h2 {
  margin-bottom: 40px;
}