/* Estilos para pantallas con un ancho máximo de 600px */
@media (min-width: 601px) and (max-width: 1200px) {

  header nav{
  font-size: 15px;
}
  /* La imagen ocupará el ancho completo */
  #personajes figure {
    width: 75%;
  }

  #personajes .nombre {
    font-size: 40px;
  }

  /* El texto descriptivo y las curiosidades estarán debajo de la imagen */
  #personajes article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
  }
  
  #personajes p{
    font-size: 20px;
    line-height: 1.5;
    margin-top: 16px;
    text-align: justify;
  }

  #personajes .curiosidades-list {
    font-size: 24px;
    margin-left: 7px;
    list-style:repeating-linear-gradient(45deg, #000000, #000000 10px, #ffffff 10px, #ffffff 20px);
  }
  
  footer {
    padding: 40px;
  }

  footer h2 {
    font-size: 24px;
  }

  footer img {
    width: 50px;
    height: 50px;
    margin: 30px;
  }

  form {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  form label {
    margin-bottom: 8px;
  }

  form input,
  form textarea {
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
    font-size: 16px;
  }

  form textarea {
    height: 120px;
  }

  form button {
    padding: 8px 16px;
    font-size: 16px;
  }

  section.redes-sociales {
    margin-bottom: 0;
  }
}